body{
  font-family:"Montserrat"
}


#cont_imagenes_menu{
  width: 35%;
  overflow: hidden;
  background-image: url("../PORTAFOLIO/IMGS/FOTO 0 14.png");
  background-size: cover;   /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center;  /* Centra la imagen */
}




#popup {
  display: none;
}

#popup img {
  width: 80%; /* Mostrar al 80% del tamaño real */
  max-height: 80%; /* Limitar altura máxima */
  border-radius: 8px;
}

.hidden {
  display: none !important;
}

#close-popup {
  background: transparent;
  border: none;
  cursor: pointer;
}

#close-popup:hover {
  color: #ff0000; /* Cambia de color al pasar el mouse */
}



#video-popup {
  display: none;
}

#video-popup video {
  width: auto;
  height: 80vh; /* Limitar la altura al 80% de la ventana */
  object-fit: contain;
}

.hidden {
  display: none !important;
}

#close-video-popup {
  background: transparent;
  border: none;
  cursor: pointer;
}

#close-video-popup:hover {
  color: #ff0000; /* Cambia de color al pasar el mouse */
}

/* Estilo por defecto para computadoras */
header nav ul {
  display: flex;
  flex-wrap: nowrap; /* Evita el colapso en computadoras */
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
  nav {
    flex-direction: column; /* Cambia la dirección del contenedor */
    align-items: flex-end; /* Alinea el contenido a la izquierda */
  }

  nav ul {
    flex-direction: column; /* Hace que cada etiqueta esté en una línea */
    gap: 10px; /* Espaciado entre las líneas */
    margin-bottom: 15px;
  }

  nav ul li {
    width: 100%; /* Cada elemento ocupa todo el ancho disponible */
  }
}